#home {
    @include clearfix;
    position: relative;
    max-width: 650px;
    margin: auto;
}

#homepage_bot {
    width: 400px;
    height: 450px;
    float: left;
    border: 5px solid #333;

    iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#welcome {
    margin-left: 440px;
}

.words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
}